.TvShowDetailBackdrop {
    background-repeat: no-repeat;
    opacity: 0.1;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10000;
}

.TvShowDetailInfo {
    position: sticky;
    top: 20px;
}

.TvShowDetailInfo .ui.statistics  {
    /* The default value is negative, which in some cases leads to overlapping */
    margin-bottom: 0;
}

.ui.fluid.button.FavouriteButton {
    margin-top: 10px;
    opacity: 0.6;
}
