.voteCount {
    margin-left: 10px;
    vertical-align: text-bottom;
}

.poster {
    min-height: 435px;
}

@media (max-width: 620px) {
    .poster {
        min-height: unset;
        width: 50%;
        align-self: center;
    }
}
