.App-header {
  background-color: rgb(72, 78, 84);
  height: 150px;
  padding: 20px;
  margin-bottom: 20px;
  color: rgb(255, 130, 10);
  vertical-align: top;
}

.App-logo {
  max-width: 200px;
  min-width: 50px;
  width: 10%;

  display: inline-block;
}

.App-intro {
  font-size: large;
}

.App-header h1 {
  padding-left: 30px;
  display: inline-block;
  position: absolute;
  top: 10px;
  letter-spacing: 0.18rem;
}

.ui.dropdown.Language-selector {
  position: absolute;
  right: 50px;
  font-size: 1.4rem;
}

.ui.dropdown.Language-selector .menu {
  left: initial;
  right: 0;
}
